<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Members</title>
</head>
<body>
    <h1>Members</h1>

    {% comment %} Table {% endcomment %}
    <table border="1" width="50%" >
        {% comment %} Table Row {% endcomment %}
        <tr>
            {% comment %} Table Heading {% endcomment %}
            <th>Fullname</th>
            <th>Phone</th>
            <th>Joined Date</th>
        </tr>

        {% comment %} Loop on mymembers list {% endcomment %}
        {% for x in mymembers %}
            {% comment %} Table Row {% endcomment %}
            <tr>
                {% comment %} Table Data {% endcomment %}
                <td>{{ x.firstname }} {{ x.lastname }}</td>
                <td>{{ x.phone }}</td>
                <td>{{ x.joined_date }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>