<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Syntax</title>
</head>
<body>
    <hr>
    <h1>Django Variables</h1>
    <hr>

    <h2>Welcome! {{ user }}</h2>

    {% with fullname=user %}
        <p>Hello! {{fullname}}, how are you?</p>
    {% endwith %}

    {% comment %} ========================================================= {% endcomment %}
    
    <hr>
    <h1>Django Tags</h1>
    <hr>

    <p style="font-style: italic;">
        In Django templates, you can perform programming logic like executing if statements and for loops.
        These keywords, if and for, are called "template tags" in Django.
        To execute template tags, we surround them in '{ % % }' brackets.
    </p>

    {% with greeting=1 %}
        {% if greeting == 1 %}
            <h2>Hello! {{ user }}</h2>
        {% else %}
            <h2>Bye! {{ user }}</h2>
        {% endif %}
    {% endwith %}

    
    <h3>Members</h3>
    <ul>
        {% for x in members %}
            <li>{{ x }}</li>
        {% endfor %}
    </ul>
    
    {% comment %} ========================================================= {% endcomment %}
    
</body>
</html>