<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Syntax</title>
</head>
<body>
    <hr>
    <h1>Django Variables</h1>
    <hr>


    <h3>Welcome! {{ user }}.</h3>

    {% with fullname=user %}
        <p>Hello! {{fullname}}, how are you?</p>
    {% endwith %}

    {% comment %} ========================================================= {% endcomment %}
    
    <hr>
    <h1>Django Tags</h1>
    <hr>


    <p style="font-style: italic;">
        In Django templates, you can perform programming logic like executing if statements and for loops.
        These keywords, if and for, are called "template tags" in Django.
        To execute template tags, we surround them in '{ % % }' brackets.
    </p>

    {% with greeting=1 %}
        {% if greeting == 1 %}
            <p>Hello! {{ user }}. Greeting is '1'.</p>
        {% else %}
            <p>Bye! {{ user }}. Greeting is not '1'.</p>
        {% endif %}
    {% endwith %}


    <h3>All Members</h3>
    <ul>
        {% for x in members %}
            <li>{{ x }}</li>
        {% endfor %}
    </ul>
    
    {% comment %} ========================================================= {% endcomment %}
    
    <hr>
    <h1>Django If Else</h1>
    <hr>


    <h3>If Statement</h3>
    {% if greeting == 1 %}
        <p>Hello! {{ user }}. Greeting is '1'.</p>
    {% endif %}


    <h3>Elif</h3>
    {% if greeting == 1 %}
        <p>Welcome! {{ user }}. Greeting is '1'.</p>
    {% elif greeting == 2 %}
        <p>Hello! {{ user }}. Greeting is '2'.</p>
    {% endif %} 


    <h3>Else</h3>
    {% if greeting == 1 %}
        <p>Goodbye! {{ user }}. Greeting is '1'.</p>
    {% elif greeting == 2 %}
        <p>Hello! {{ user }}. Greeting is '2'.</p>
    {% else %}
        <p>Welcome! {{ user }}</p>
    {% endif %}

    <p><strong>Operators : </strong>
        The above examples uses the == operator, 
        which is used to check if a variable is equal to a value, 
        but there are many other operators you can use, 
        or you can even drop the operator if you just want to check if a variable is not empty.
    </p>

    {% if greeting %}
        <p>Hello! {{ user }}. If greeting...</p>
    {% endif %} 


    <h3>== : Is equal to</h3>
    {% if greeting == 1 %}
        <p>Hello! {{ user }}. Greeting is '1'.</p>
    {% endif %} 


    <h3>!= : Is not equal to</h3>
    {% if greeting != 2 %}
        <p>Hello! {{ user }}. Greeting is not equal to '2'.</p>
    {% endif %}


    <h3>< : Is less than</h2>
    {% if greeting < 3 %}
        <p>Hello! {{ user }}. Greeting is less than '3'.</p>
    {% endif %}


    <h3><= : Is less than, or equal to</h2>
    {% if greeting <= 3 %}
        <p>Hello! {{ user }}. Greeting is less than or equal to '3'.</p>
    {% endif %} 


    <h3>> : Is greater than</h3>
    {% if greeting > 0 %}
        <p>Hello! {{ user }}. Greeting is greater than '0'.</p>
    {% endif %}


    <h3>>= : Is greater than, or equal to</h3>
    {% if greeting >= 1 %}
        <p>Hello! {{ user }}. Greeting is greater than or equal to '1'.</p>
    {% endif %}


    <h3>and : To check if more than one condition is true</h3>
    {% if greeting == 1 and day == "Friday" %}
        <p>Hello Weekend! Greeting is '1' and day is 'Friday'.</p>
    {% endif %}


    <h3>or : To check if one of the conditions is true</h3>
    {% if greeting == 1 or greeting == 5 %}
        <p>Greeting is either 1 or 5.</p>
    {% endif %}


    <h3>and/or : Combine and and or</h3>
    {% comment %} {% if greeting == 1 and day == "Friday" or greeting == 5 %} {% endcomment %}


    <h3>in : To check if a certain item is present in an object</h3>
    {% if 'Banana' in fruits %}
        <p>Hello! If banana is in fruits.</p>
    {% else %}
        <p>Goodbye! If banana is not in fruits.</p>
    {% endif %} 


    <h3>not in : To check if a certain item is not present in an object</h3>
    {% if 'Banana' not in fruits %}
        <p>Hello! If banana is not in fruits.</p>
    {% else %}
        <p>Goodbye! If banana is in fruits.</p>
    {% endif %}


    <h3>is : Check if two objects are the same</h3>
    <p style="font-style: italic;">
        This operator is different from the == operator, 
        because the == operator checks the values of two objects, 
        but the is operator checks the identity of two objects.
    </p>
    {% if x is y %}
        <p>YES, If 'x' is 'y'.</p>
    {% else %}
        <p>NO, If 'x' is not 'y'.</p>
    {% endif %}

    {% if x == y %}
        <p>YES, If 'x == y'.</p>
    {% else %}
        <p>NO, If 'x != y'.</p>
    {% endif %}

    {% with var1=x var2=x %}
    {% if var1 is var2 %}
        <p>YES, If 'var1' is 'var2'.</p>
    {% else %}
        <p>NO, If 'var1' is not 'var2'.</p>
    {% endif %}
    {% endwith %}


    <h3>is not : To check if two objects are not the same</h3>
    {% if x is not y %}
        <p>YES, If 'x' is not 'y'.</p>
    {% else %}
        <p>NO, If 'x' is 'y'.</p>
    {% endif %}

    {% comment %} ========================================================= {% endcomment %}

    <hr>
    <h1>Django For Loop</h1>
    <hr>

    <p style="font-style: italic;">
        A 'for' loop is used for iterating over a sequence, like looping over items in an array, a list, or a dictionary.
    </p>


    <h3>Fruits in the List are:</h3>
    <ul>
        {% for fruit in fruits %}
            <li>{{ fruit }}</li>
        {% endfor %}
    </ul>


    <h3>Loop through a list of dictionaries:</h3>
    <table border = "1" width = "50%">
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
        </tr>

        {% for car in cars %}
            <tr>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.year }}</td>
            </tr>
        {% endfor %}
    </table>


    <h3>Data From a Model</h3>
    <table border = "1" width = "50%">
        <tr>
            <th>id</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>phone</th>
            <th>joined_date</th>
        </tr>

        {% for member in mymembers %}
        <tr>
            <td>{{ member.id }}</td>
            <td>{{ member.firstname }}</td>
            <td>{{ member.lastname }}</td>
            <td>{{ member.phone }}</td>
            <td>{{ member.joined_date }}</td>
        </tr>
        {% endfor %}
    </table>


    <h3>Reversed</h3>
    <p>The reversed keyword is used when you want to do the loop in reversed order.</p>
    <table border = "1" width = "50%">
        <tr>
            <th>id</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>phone</th>
            <th>joined_date</th>
        </tr>

        {% for member in mymembers reversed %}
        <tr>
            <td>{{ member.id }}</td>
            <td>{{ member.firstname }}</td>
            <td>{{ member.lastname }}</td>
            <td>{{ member.phone }}</td>
            <td>{{ member.joined_date }}</td>
        </tr>
        {% endfor %}
    </table>


    <h3>Empty</h3>
    <p>
        The empty keyword can be used if you want to do something special if the object is empty.
        The empty keyword can also be used if the object does not exist.
    </p>

    <h4>Members in emptytestobject</h4>
    <ul>
    {% for x in emptytestobject %}
        <li>{{ x.firstname }}</li>
    {% empty %}
        <li>No members</li>
    {% endfor %}
    </ul>

    <h4>Members in myobject</h4>
    <ul>
    {% for x in myobject %}
        <li>{{ x.firstname }}</li>
    {% empty %}
        <li>No members</li>
    {% endfor %}
    </ul>


    <h3>Loop Variables</h3>

    <h4>1. forloop.counter</h4>
    <i>The current iteration, starting at 1.</i>
    <p>Count of fruit in fruits list</p>
    <ul>
    {% for x in fruits %}
        <li>{{ forloop.counter }}</li>
    {% endfor %}
    </ul>

    <h4>2. forloop.counter0</h4>
    <i>The current iteration, starting at 0.</i>
    <p>Count of fruit in fruits list</p>
    <ul>
    {% for x in fruits %}
        <li>{{ forloop.counter0 }}</li>
    {% endfor %}
    </ul>

    <h4>3. forloop.first</h4>
    <i>Allows you to test if the loop is on its first iteration.</i>
    <p>Example: Draw a blue background for the first iteration of the loop.</p>
    <ul>
    {% for x in fruits %}
        <li
        {% if forloop.first %}
            style='background-color:lightblue;'
        {% endif %}
        >{{ x }}</li>
    {% endfor %}
    </ul>

    <h4>4. forloop.last</h4>
    <i>Allows you to test if the loop is on its last iteration.</i>
    <p>Example: Draw a blue background for the last iteration of the loop.</p>
    <ul>
    {% for x in fruits %}
        <li
        {% if forloop.last %}
            style='background-color:lightblue;'
        {% endif %}
        >{{ x }}</li>
    {% endfor %}
    </ul>

    <h4>5. forloop.revcounter</h4>
    <i>The current iteration if you start at the end and count backwards, ending up at 1.</i>
    <ul>
    {% for x in fruits %}
        <li>{{ forloop.revcounter }}</li>
    {% endfor %}
    </ul>

    <h4>6. forloop.revcounter0</h4>
    <i>The current iteration if you start at the end and count backwards, ending up at 0.</i>
    <ul>
    {% for x in fruits %}
        <li>{{ forloop.revcounter0 }}</li>
    {% endfor %}
    </ul>

    {% comment %} ========================================================= {% endcomment %}

    <hr>
    <h1>Django Comment</h1>
    <hr>

    <p>Comments allows you to have sections of code that should be ignored.</p>
    <h3>Welcome Everyone</h3>
    {% comment %}
    <h1>Welcome ladies and gentlemen</h1>
    {% endcomment %}

    <p>
        You can add a message to your comment, to help you remember why you wrote the comment,
        or as message to other people reading the code.
    </p>

    <i>Add a description to your comment.</i>
    <h3>Welcome Everyone</h3>
    {% comment "this was the original welcome message" %}
        <h1>Welcome ladies and gentlemen</h1>
    {% endcomment %}

    <h3>Smaller Comments</h3>
    <p>You can also use the {# ... #} tags when commenting out code, which can be easier for smaller comments</p>
    <i>Comment out the word Everyone:</i>
    <h3>Welcome{# Everyone#}</h3>

    {% comment %} ========================================================= {% endcomment %}

    
</body>
</html>